*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main{
    width: 100%;
    height: 400px;
    background-color: greenyellow;
    border: 5px solid turquoise;
    padding: 20px 35px;
    margin: 10px 15px;
}